
<footer class=" footer text-center text-lg-start text-dark" style="background-color: #ECECEC;
bottom: 0; width: 100%; position: relative; ">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold fw-bold">
            FastSpeak
          </h6>
          <p>
            La mejor red social del mundo.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-dark">
          <h6 class="text-uppercase mb-4 font-weight-bold fw-bold">Sugerencias</h6>
          <p>
            <a class="text-dark">Contactanos</a>
          </p>
          <p>
            <a class="text-dark">Asistencia al cliente</a>
          </p>
          <p>
            <a class="text-dark">Preguntas frecuentes</a>
          </p>
          <p>
            <a class="text-dark">Encuentra tu agencia</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-dark">
          <h6 class="text-uppercase mb-4 font-weight-bold fw-bold">Contacto</h6>
          <p><fa-icon [icon]="maps"></fa-icon> Sevilla, Sevilla 41720, ES</p>
          <p><fa-icon [icon]="gmail"></fa-icon> fastspeak@gmail.es</p>
          <p><fa-icon [icon]="phone"></fa-icon> 954 37 05 50</p>
          <p><fa-icon [icon]="phone"></fa-icon> 633 49 89 78</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-dark fw-bold">Siguenos</h6>

          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998"
            href="https://es-es.facebook.com/"
            role="button"
          ><fa-icon [icon]="facebook"></fa-icon></a>

          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="https://twitter.com/?lang=es"
            role="button"
          ><fa-icon [icon]="twitter"></fa-icon></a>

          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="https://www.instagram.com/"
            role="button"
          ><fa-icon [icon]="instagram"></fa-icon></a>

          <!-- Github -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333"
            href="https://github.com/SergioBareaCela/FastKing"
            role="button"
          ><fa-icon [icon]="github"></fa-icon></a>

        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center p-3 text-dark"
    style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-dark" href="https://moodlesafareyes.safanet.es"
    >fastspeak@gmail.es</a
    >
  </div>
  <!-- Copyright -->
</footer>
