<app-navbar></app-navbar>

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3" style="margin-top: -9%">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h3 class="text-uppercase text-center mb-5" ><b>CREAR ETIQUETA</b></h3>

              <form [formGroup]="crearEtiquetaForm" (ngSubmit)="crearEtiqueta(crearEtiquetaForm.value)">

                <div class="form-outline mb-4">
                  <input formControlName="nombre" type="text"  class="form-control form-control-lg" placeholder="Nombre" />
                </div>

                <div class="form-outline mb-4">
                  <input formControlName="descripcion"  class="form-control form-control-lg" placeholder="Descripcion"/>

                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-dark btn-lg"
                          style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left: 33%">Crear Etiqueta
                  </button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
