.table{
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 15%;
}

.boton{
  margin-right: 5%;
}

.td{
  padding: 5%;
}

.titulo{
  font-size: 250%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
